[Unit]
Description=Docker apps update
OnFailure=notify@Container\x20update\x20and\x20prune\x20failed\x21.service

[Service]
Type=oneshot
ExecStart=apps-update.sh
ExecStart=docker image prune -f
